    .clear {
            content: "";
            display:block;
            clear: both;
    }

    body{
        width: 1400px;
        margin: auto;
        font-family: 'Rajdhani', sans-serif;
     
    }
    #container {
       box-sizing: border-box;
       overflow: auto;
       /* border: 1px solid midnightblue; */
    }

    .button-css{
        background: rgba(21,20,21,1);
        background: -moz-linear-gradient(left, rgba(21,20,21,1) 0%, rgba(128,66,0,1) 99%, rgba(56,56,56,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(21,20,21,1)), color-stop(99%, rgba(128,66,0,1)), color-stop(100%, rgba(56,56,56,1)));
        background: -webkit-linear-gradient(left, rgba(21,20,21,1) 0%, rgba(128,66,0,1) 99%, rgba(56,56,56,1) 100%);
        background: -o-linear-gradient(left, rgba(21,20,21,1) 0%, rgba(128,66,0,1) 99%, rgba(56,56,56,1) 100%);
        background: -ms-linear-gradient(left, rgba(21,20,21,1) 0%, rgba(128,66,0,1) 99%, rgba(56,56,56,1) 100%);
        background: linear-gradient(to right, rgba(21,20,21,1) 0%, rgba(128,66,0,1) 99%, rgba(56,56,56,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151415', endColorstr='#383838', GradientType=1 );
    }

    #menu li:hover, #authorization li:hover {
        background: rgba(27,24,25,1);
        background: -moz-linear-gradient(left, rgba(27,24,25,1) 0%, rgba(145,158,0,1) 99%, rgba(69,69,69,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,24,25,1)), color-stop(99%, rgba(145,158,0,1)), color-stop(100%, rgba(69,69,69,1)));
        background: -webkit-linear-gradient(left, rgba(27,24,25,1) 0%, rgba(145,158,0,1) 99%, rgba(69,69,69,1) 100%);
        background: -o-linear-gradient(left, rgba(27,24,25,1) 0%, rgba(145,158,0,1) 99%, rgba(69,69,69,1) 100%);
        background: -ms-linear-gradient(left, rgba(27,24,25,1) 0%, rgba(145,158,0,1) 99%, rgba(69,69,69,1) 100%);
        background: linear-gradient(to right, rgba(27,24,25,1) 0%, rgba(145,158,0,1) 99%, rgba(69,69,69,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1819', endColorstr='#454545', GradientType=1 );
    }

    #nav1 {
        background-color: #959c47;
        position: sticky;
        top: 0;
        border: 1px solid black;
        border-radius: 3px;

    }
    .navbar{
        float: left;
    }

    #nav1::after{
        content: "";
        display:block;
        clear: both;
    }

    #logo{
        margin: 10px 10px;
        margin-left: 20px;
    }

    #logo img {
        border: 2px solid gray;
        border-radius: 3px;

    }
    #menu {
        margin-left: 200px;
    }

    #menu li {
        float: left;
        list-style-type: none;
        background-color: black;
        color: white!important;
        margin-left: 10px;
        padding-top: 5px;
        width: 120px;
        text-align: center;
        font-size: 20px;
        height: 30px;

        border-radius: 0px 100px 0px 100px;
        -moz-border-radius: 0px 100px 0px 100px;
        -webkit-border-radius: 0px 100px 0px 100px;
        border: 0px inherit #000000;
    }
    #menu a{
        color: white;
        text-decoration: none;
    }

    /* ########authorization############### */

    
    #authorization {
        margin-left: 180px;
    }

    #authorization li {
        float: left;
        list-style-type: none;
        background-color: black;
        color: white!important;
        margin-left: 10px;
        padding-top: 5px;
        width: 120px;
        text-align: center;
        font-size: 20px;
        height: 30px;

        border-radius: 0px 100px 0px 100px;
        border: 0px inherit #000000;
    }


    #authorization a{
        color: white;
        text-decoration: none;
    }

    /* #####SLIDER#################### */
    #slider{
        box-sizing: border-box;
        margin: 10px 0px;
        width: 75%;
        float: left;
        background-color: white;

    }

    #slider img {

        border-radius: 10px;

        width: 99%;
        border-radius: 6px 6px 6px 6px;

        border: 2px solid rgba(0, 0, 0, .2);
        box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.2);

    }

    #slider img:hover {
        box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.4);
        transition: box-shadow 0.4s;
        opacity: 0.9;
    }

    /* #########SLIDER-NUMBER################ */
    #slider-number{
        background-color:rgba(247,245,242,1)!important;
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
    }

    #slider-number ul{
        text-decoration: none;
        margin: 0px;
        
    }

    #slider-number ul li{
        display: inline-block;
        list-style-type: none;
        margin:5px 25px;
        
        text-align: center;
        border-bottom: 3px solid gray;
        
    }

    #slider-number ul li:hover{
        font-weight: bold;
        border-bottom: 3px solid red;
    }

    #slider-number ul li a{
        text-decoration: none;
        color: gray;
        font-size: 18px;
        padding: 0px 15px;
    }
    #right-section {
        box-sizing: border-box;
        margin: 10px 0px;
        width: 25%;
        float: right;
    }

    #right-section-img img {
        border-radius: 3px;
        padding:0px 5px 5px 0px; 
        width: 170px;
        height: 153px;
        float: left;
        border-radius: 3px 3px 3px 3px;

    }
    #right-section-img img:hover {
        opacity: 0.9;
    }

    #blog-post{
       box-sizing: border-box;
       width: 75%;
       float: left;
        
    }
    .weather {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
    .weather img{
        
        height: 33px;
     
     
    }

 /* #########BLOG POST################ */

    .blog-post{
        background-color:floralwhite;
        margin: 5px 5px;
        border: 2px solid rgba(0, 0, 0, .20);
        border-radius: 3px;
        padding: 0px 5px;
        position: relative;
        box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
        
     }

     .blog-post:hover, .article-list a:hover, .author:hover {
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(233,220,201,1) 0%, rgba(253,252,251,1) 89%, rgba(255,255,255,1) 97%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(233,220,201,1)), color-stop(89%, rgba(253,252,251,1)), color-stop(97%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(233,220,201,1) 0%, rgba(253,252,251,1) 89%, rgba(255,255,255,1) 97%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(233,220,201,1) 0%, rgba(253,252,251,1) 89%, rgba(255,255,255,1) 97%);
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(233,220,201,1) 0%, rgba(253,252,251,1) 89%, rgba(255,255,255,1) 97%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(233,220,201,1) 0%, rgba(253,252,251,1) 89%, rgba(255,255,255,1) 97%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

     }


    .section {
        margin: 5px;
        border: 2px solid rgba(0, 0, 0, .20);;
        border-radius: 3px;
    }

    .article-section {
        margin: 5px;
        border: 2px solid rgba(0, 0, 0, .20);
        border-radius: 3px;
    }

    

    .author{
        text-align: center;
        padding: 10px;
        margin: 10px 5px;
        background-color: floralwhite;
        border: 1px solid rgba(0, 0, 0, .20);
        border-radius: 3px;
    }

    .article-list{
        background-color: floralwhite;
    }

    .article-list li {
        list-style-type: square;
        margin-bottom: 10px;
        
        list-style-type: none;
       
    }
    .article-list ul {
        padding: 10px!important;
    }

    .article-list li a{color:black;
        text-decoration: none;
    }

    

    #authors h2, #article h2  {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        background-color: antiquewhite;
        padding-bottom: 5px;
        margin-top: 0px;
        margin-bottom: -5px;
        
    }

    #article h2{
        margin-bottom: -15px!important;
    }

    #article h2, #authors h2{
        border-bottom: 3px solid rgba(0, 0, 0, .2);
    }

    .author p, h4{
        margin: 0px;
    }

    .author img {
        border-radius: 50%;
        border: 3px solid gray;
    }

    .menu1 {
        height: 10px;
        width:80px;

        position: fixed;
        right: 10px;
        bottom: 10px;
        text-align: center;
        padding-bottom: 30px;

    }

    .menu1 a{
        font-size: 30px;
        font-weight: bold;
        padding:30px;
    }

    .menu1:hover{
        font-size: 60px;
        bottom: 60px;

    }

    dt{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    

 /* #########FOOTER################ */
    .footer-section {
        background-color: #959c47;
        border: 2px solid gray;
        border-radius: 3px;
        padding: 0px 25px;
        margin: 10px 5px;
        position: static;

    }

    #sectionx {
        width: 25%;
        box-sizing: border-box;
        float: right;
    }

    .fa-angle-double-right{
        padding-right: 5px;
    }

    #section1{
    margin-top: 30px;
    }
